<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HEYE</h1>
    <h2 th:text="${titulo}"></h2>
    <ul>
        <li th:text="${user.nombre}"></li>
        <li th:text="${user.apellido}"></li>
        <li th:text="${user.email}" th:text="${user.email}"></li>
        <li th:if="${user.email == null}" th:text="${'El usuario no tiene email'}"></li>
    </ul>
</body>
</html>